// Navigation Styles here

header {
    border-bottom: 2px dashed @silver;
    width:100%;

    .navigation {
        display:flex;
        justify-content: space-between;
        align-items:center;
        max-width: 800px;
        padding: 3rem 0 2rem 0;
        margin: auto;
        
        nav {
            display:flex;
            justify-content: flex-end;

            a {
                padding: 3rem 0rem 3rem 3rem;
                font-size: 1.8rem;
                text-decoration: none;
                color: @shark;
            }
        }

        @media @mobile {
            flex-direction:column;
            padding: 2rem 0 0 0;

            nav a {
                    padding: 1rem 0 1rem 6rem;
                }
            }
        }
}



